{{define "content"}}

<h1 class="headings">Kimi- The Blog Platform</h1>

<!-- The form which the user can fill to submit a blo post-->
<form hx-post="/post" hx-target="#posts" hx-swap="innerHTML">
     
    <input type="text", placeholder="Title" name="title", required >
    <textarea name="content" placeholder="Content" id="#content"></textarea>
    <button type="submit" data-variant="secondary">Create Post</button>

</form>

<hr>
<!--Button to load the posts-->
<button data-variant="primary" hx-get="/posts" hx-target="#posts">
     Load Posts
</button>

<!--The area where the posts will be rendered-->
<div id="posts">
<!--The posts will be renderd here-->
</div>

{{end}}

